<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="custom.css">
		<title>Atarubift</title>
	</head>
	<body>
		<header class="he">
			<h1>
				<a href="/">Ataruby 開発ブログ</a>
			</h1>

		</header>
		<main>
			<div class="welcome">
				<h2>ようこそ</h2>
				<p>このサイトは、私、Ataruがhtml, cssの勉強がてら制作した初心者臭をこれでもかとただ寄せた身のないサイトでございます。特に何があるというわけでもないので、ブラウザバックを推奨します。ブログ更新時以外に更新する予定はありませんのであしからず</p>	
			</div>
			<div class="container">
				<div class="news">
					<h2>最新情報</h2>
					<p>2021.04.09 RubyCamp 2021 Spring で開発した『SHIMANE HAZARD』のweb版を公開しました。</p>
					<p>2021.08.28 <a href="https://atarubift.github.io/blockBreakRuby/" target="_blank" rel="noopener noreferrer">Block Break</a>に音を追加するアップデートをしました。</p>
					<h2>Product</h2>
					<li><a href="https://atarubift.github.io/blockBreakRuby/" target="_blank" rel="noopener noreferrer">Block Break</a></li>
					<li><a href="https://atarubift.github.io/shimaneHazard/" target="_blank" rel="noopener noreferrer">『Shimane Hazard』web版</a></li>
					<h2>投稿記事</h2>
					<h3>Qiita</h3>
					<li><a href="https://qiita.com/Atarubift/items/4b7018c6ec8168dbc9be" target="_blank" rel="noopener noreferrer">Rubyでアルゴリズムを実装する:Day 1 -ユークリッドの互除法-</a></li>
					<li><a href="https://qiita.com/Atarubift/items/f9f3224dccc3c32c4741" target="_blank" rel="noopener noreferrer">Rubyでアルゴリズムを実装する:Day 2 -バブルソート-</a></li>
				  <li><a href="https://qiita.com/Atarubift/items/640abe8c8f873c23aee5" target="_blank" rel="noopener noreferrer">Rubyでアルゴリズムを実装する:Day 3 -二分探索-</a></li>
				  <li><a href="https://qiita.com/Atarubift/items/af4bd9da2310a0273482" target="_blank" rel="noopener noreferrer">Rubyでアルゴリズムを実装する:Day 4 -線形探索-</a></li>
					<h3>はてなブログ</h3>
				  <li><a href="https://atarubift.hatenablog.com/entry/2019/12/18/000000" target="_blank" rel="noopener noreferrer">初めてのハッカソン～I will give you all my code～</a></li>
					<li><a href="https://atarubift.hatenablog.com/entry/2020/12/27/000000" target="_blank" rel="noopener noreferrer">Funlocks 備忘録</a></li>
				</div>
				<div class="side">
					<h2>プロフィール</h2>
					<img width="100px", height="100px" src="icon/icon.jpg"></img>
					<ul>
						<li>名前</li>Ataru
						<li>職業</li>大学生
						<li>好きな技術</li>
						<ul>
							<li>Ruby
								<li>Ruby on Rails
						</ul>
						<li>触れた技術</li>
						<ul>
							<li>Java</li>
							<li>C</li>
							<li>Swift</li>
							<li>Kotlin</li>
							<li>Processing</li>
							<li>React</li>

						</ul>
						<li>好きな領域</li>フロントエンド以外
					</ul>
					<h2>Twitter</h2>
					<a class="twitter-timeline" data-lang="ja" data-width="600" data-height="400" href="https://twitter.com/Atarubift?ref_src=twsrc%5Etfw">Tweets by Atarubift</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div id="icon">
				<a href="https://github.com/atarubift" target="_blank" rel="noopener noreferrer"><img width="32" height="32" src="icon/github.png"></a></img>
					<a href="https://twitter.com/Atarubift" target="_blank" rel="noopener noreferrer"><img width="32" height="32" src="icon/twitter.png"></a></img>
						<a href="https://qiita.com/atarubift" target="_blank" rel="noopener noreferrer"><img width="32" hehight="32" src="icon/qiita.png"></a></img>
							<a href="https://atarubift.hatenablog.com" target="_blank" rel="noopener noreferrer"><img width="32" height="32" src="icon/hatena.png"></a></img>
			</div>
		</footer>
	</body>
</html>